<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
<body>
	<p>Título: {{title}}</p>
	<p>Página: {{page}}</p>
	<p>Nota: {{note}}</p>
</body>
</html>